<ul id="lists">
    <% sort_lists(@lists) do |list| %>
    <li class="<%= generate_class_complete(list) %>">
        <h2><a href=<%= %(/lists/#{list[:id]}) %>><%= list[:name] %></a></h2>
        <p><%= generate_todos_fraction(list) %></p>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>
